---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #33658A;
$masthead-link-color: #0f9862;

.site-title::before {
	content: url("../images/JADES_horizontal_greens_onwhite_small.png");
	display: inline-block;
	position: relative;
	width: 10px;
	top: 10px;
	padding-right:60px;
    margin-right: 241px;
}

h1 {
    color: #0D5536;
}

.site-title {
    font-size: 0px;
    line-height: 0.5;
    padding: 5px 0 10px;
    text-align:right;
    vertical-align: middle;
    position: relative;
}


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials